@model IEnumerable<CommentViewModel>

<h4>Комментарии</h4>
<div class="comments-section ml-auto mr-auto">
    @foreach (var comment in Model)
    {
        <div class="comment">
            <div class="comment-header">@comment.Sender</div>
            <div class="comment-date blurred">@comment.CreationDate.ToString("dd MMMM yyyy hh:ss")</div>
            <div class="comment-body">@comment.Body</div>
        </div>
    }
    <hr class="@(Model.Count() > 0 ? "mt-3" : "")" />
    <div class="comments-enter">
        <div class="form-group mt-1">
            <label for="nick">Имя:</label>
            <input class="form-control" id="nick" />
            <label for="comment">Сообщение:</label>
            <textarea class="form-control" id="comment"></textarea>
            <div class="text-right mt-2">
                <button type="submit" class="btn btn-info">Отправить</button>
            </div>
        </div>
    </div>
</div>
