@{
    ViewBag.Title = "Home";
}

<div class="container">
    <h2 class="page-title title">Главная</h2>
    <div class="intro">
        <p>
            Приветствую вас. Обо мне вы можете прочитать @Html.ActionLink("здесь", "All", "Article"). О целях ведения этого сайта-блога - @Html.ActionLink("здесь", "All", "Article").
            <br />
            Также вы можете перейти сразу ко @Html.ActionLink("всем статьям", "All", "Articles") либо выбрать интересующий раздел сверху.
            <br />
        </p>
    </div>
</div>
