@{
    ViewBag.Title = "Home";
}

<div class="container">
    <h2 class="text-center">Главная</h2>
    <div class="intro">
        <p>
            Приветствую вас на сайте, посвященном моей жизни. Здесь я занимаюсь тем, что документирую свои мысли и делюсь каким-либо опытом. Веду жизненный дневник, так сказать. Для чего? Во-первых, ведение дневника - полезная практика. Я смогу перечитывать свои мысли спустя много времени. Во-вторых, я буду так же писать статьи по программированию и рассказывать о подводных камнях, с которыми я лично сталкивался, что может быть полезно другим.
            <br />
            Вы можете перейти сразу ко @Html.ActionLink("всем статьям", "All", "Articles"), выбрать интересующий раздел слева либо вовсе @Html.ActionLink("случайную статью", "All", "Articles") (ради интереса).
            <br />
        </p>
        <p>
            Так же вы можете задать любой вопрос, связавшись со мной.
        </p>
    </div>
</div>
