:root {
    --border: 1px solid rgba(0,0,0,.1);
    --border-radius: 6px;
}

/* Mine */
nav {
    background-color: #303030;
}

.menu {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #fafafa;
}

.menu-left {
}

.menu-right {
}

.main-content {
    border-radius: var(--border-radius);
    background-color: #fafafa;
    height: 100%;
    min-height: 500px;
}

.main-row {
    margin: 10px 0px 10px 0px !important;
}

.note-summ {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 10px;
    margin-bottom: 10px;
}

.note-summ:hover {
    background-color: #f5f5f5;
}

.note-summ:last-child {
    margin-bottom: 0px;
}

.note-summ p {
    padding-top: 7px;
    white-space: pre-line;
}

.note-summ-header {
    font-size: 24px;
    font-weight: 500;
    color: royalblue;
}

.note-summ-header-date {
    font-size: 12px;
    opacity: 0.5;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

.navbar-brand {
    color: white;
}

nav a.nav-link {
    font-size: 40px;
}

.fa.fa-github {
    color: #fff;
}

.vk {
    width: 40px;
    height: 40px;
}

footer {
    padding: 5px 10px 5px 10px;
    text-align: center;
}

/********************/

/* Overriding */
.container-fluid {
    padding: 0px !important;
}

hr {
    margin: 0px !important;
}
/********************/

input, select, textarea {
    max-width: 280px;
}
