:root {
    --border: 1px solid rgba(0,0,0,.1);
    --border-radius: 6px;
    --primary-font-color: #4800ff;
}

/* Mine */
.menu {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #fafafa;
}

.menu-left {
}

.menu-right {
}

.main-content {
    background-color: #fafafa;
    height: 100%;
    min-height: 500px;
}

.main-row {
    margin: 10px 0px 10px 0px !important;
}

.article {
}

.article-header {
    text-align: center;
}

.article-header i {
    text-align: left;
}

.article-title {
}

.article-date,
.article-subjects,
.article-summ-date,
.article-summ-subjects
{
    font-size: 12px;
    opacity: 0.5;
}

.article-body {
    margin-top: 10px;
    white-space: pre-line;
}

.article-summ {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

    .article-summ:hover {
    }

    .article-summ:last-child {
        margin-bottom: 0px;
    }

    .article-summ-body {
        padding-top: 7px;
        white-space: pre-line;
    }

.article-title,
.article-summ-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-font-color);
}

.vk {
    width: 40px;
    height: 40px;
}
/********************/

/* Overriding */
nav {
    background-color: #303030;
}

.container {
    background-color: #f5f5f5;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px 15px 5px 15px !important;
    height: 100%;
}

.container-fluid {
    padding: 0px !important;
}

.navbar a {
    font-weight: 100;
    color: white;
}

    .navbar a:hover {
        color: #efefef;
        text-decoration: none;
    }

a.navbar-brand {
    font-weight: bold;
}

nav a.nav-link {
    font-size: 40px;
}

.fa.fa-github {
    color: #fff;
}

.fa.fa-angle-left {
    font-size: 26px;
    color: inherit;
    text-decoration: none;
}

p, .intro {
    text-align: justify;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

hr {
    margin: 0px !important;
}

footer {
    padding: 5px 10px 5px 10px;
    text-align: center;
}
/********************/

input, select, textarea {
    max-width: 280px;
}
