:root {
    --border: 0px solid rgba(0,0,0,.07);
    --border-radius: 4px;
    /*--primary-font-color: #FF0000;*/
    /*--primary-font-color: #eca800;*/
    /*--primary-font-color: #0800c8;*/
    --primary-font-color: #4A76A8;
    /*--primary-font-color: #6543aa;*/
    /*--primary-font-color: #f61515;*/
    /*--primary-font-color: black;*/
    --primary-font-color-hover: #426996;
    /***************************************/
    --secondary-font-color: #7400b7;
    /***************************************/
    /*--link-font-color: #0a00ff;*/
    /*--link-font-color: #7400b7;*/
    /*--link-font-color: #eca800;*/
    /*--link-font-color: #4A76A8;*/
    --link-font-color: #0800c8;
    --link-font-color-hover: black;
    /*--primary-color: #F5F7FD;*/
    /***************************************/
    --primary-color: #fbfbfc;
    --primary-color-hover: #fafafb;
    /*--secondary-color: #f5f5f5;*/
    --secondary-color: #fbfbfc;
    /*--secondary-color: #fafafa;*/
}

/* Mine */
.menu {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
}

.menu-left {
    max-height: max-content;
}

.menu-right {
    max-height: 300px;
}

.menu-header {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.menu-body {
    font-size: 14px;
    text-align: left;
    margin: 0px;
    padding: .5rem;
}

.category-selected {
    font-weight: bold;
    pointer-events: none;
}

.search-panel {
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 0px 3px 0px 3px;
}

    .search-panel button {
        width: 30px;
        padding: 0px;
    }

    .search-panel .form-check-label {
        font-size: 14px;
    }

input.search {
    height: 30px;
    font-size: 14px;
}

.main-row {
    margin: 10px 0px 10px 0px !important;
}

.main-content {
    height: 100%;
    min-height: 500px;
    text-align: center;
}

.page-title {
    text-align: center;
}

.archive-filters {
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    padding: 10px;
}

.archive-items {
    padding: 10px 50px 10px 50px;
}

    .archive-items h4 {
        text-align: center;
        margin: 0;
    }

.filter-selected {
    font-weight: bold;
    pointer-events: none;
}

.article {
}

.article-title {
    text-align: center;
}

.article-summ-header,
.article-header {
    font-size: 13px;
}

.article-date,
.article-categories span,
.article-summ-date,
.article-summ-categories span {
    opacity: 0.5;
}

.article-body,
.article-summ-body {
    margin-top: 7px;
    white-space: pre-line;
}

.article-summ {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}

    .article-summ:hover {
        background-color: var(--primary-color-hover);
    }

    .article-summ:last-child {
        margin-bottom: 0px;
    }

.article-title,
.article-summ-title {
    font-size: 27px;
    color: var(--primary-font-color);
}

    .article-summ-title:hover {
        color: var(--primary-font-color-hover);
    }

.comments-section {
    text-align: left;
}

.comment {
    /*background-color: var(--primary-color);*/
    /*background-color: #f7fafa;*/
    background-color: #F7F7F7;
    border: 1px solid rgba(0,0,0,.07);
    border-radius: var(--border-radius);
    /*padding: 5px 15px 5px 15px !important;*/
    margin-top: 5px;
    /*min-height: 200px;*/
}

.comment-header {
    border-bottom: var(--border);
    color: var(--secondary-font-color);
    font-size: 20px;
    padding: 2px 10px 0 10px !important;
}

.comment-date {
    font-size: 13px;
    padding: 5px 15px 0 15px !important;
}

.comment-body {
    font-size: 17px;
    padding: 0 15px 5px 15px !important;
}

.comments-enter {
    /*background-color: var(--primary-color);*/
    /*border: var(--border);*/
}

@media screen and (min-width: 1170px) {
    .comments-enter div:first-child {
        /*width: 75%;*/
    }
}

#comment {
    height: 150px;
}

.goodreads {
    max-width: 120px;
    margin-top: 5px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.blurred {
    opacity: 0.5;
}

/********************/
/* Overriding */
html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 74px;
    font-family: Calibri !important;
    /*background-color: #fcfcfc !important;*/
    background-color: var(--primary-color) !important;
    /*font-family: Candara !important;*/
}

    body a {
        color: var(--link-font-color);
    }

        body a:hover {
            text-decoration: none !important;
            color: var(--link-font-color-hover);
        }

footer {
    background-color: #303030;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    height: 74px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: absolute;
}

.footer-links a {
    font-size: 35px;
}

.wrapper {
    height: 100%;
    position: relative;
}

nav {
    background-color: #303030;
}

.container {
    /*background-color: var(--primary-color);*/
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 5px 15px 5px 15px !important;
    max-width: none !important;
    min-height: 166px;
}

.container-fluid {
    padding: 0px !important;
}

.navbar a {
    font-weight: 100;
    color: white;
}

    .navbar a:hover {
        color: #efefef;
    }

a.navbar-brand {
    font-weight: bold;
}

nav a.nav-link {
    font-size: 40px;
}

.fa.fa-github {
    color: #fff;
}

.fa.fa-vk,
.fa.fa-vk:hover {
    color: #4A76A8;
}

.pagination-panel .pagination-page {
    width: 32px;
    height: 32px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-left: -2px;
    margin-right: -2px;
    padding: 5px;
}

.pagination-first,
.pagination-last {
    width: 32px;
}

.fa.fa-angle-left {
    font-size: 26px;
    color: inherit;
}

.fa.fa-times {
    color: var(--link-font-color);
}

input, textarea, button {
    box-shadow: none !important;
}

label {
    margin: 0px !important;
}

textarea {
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    resize: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

p, .intro {
    /*text-align: justify;*/
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

h2, h3, h4 {
    margin-bottom: 0px !important;
}

hr {
    margin: 0px !important;
}
/********************/
