@model IEnumerable<CategoryViewModel>

<div class="categories-header">Категории</div>
<ul class="categories p-2">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Name, "All", "Articles", new { page = 1, category = item.Name  }, new { })</li>
    }
</ul>
