@model CategoriesListViewModel

<div class="menu-header">
    Категории
    @if (!String.IsNullOrWhiteSpace(Model.Category))
    {
        @Html.ActionLink(
            " ", "All", "Articles",
            new { Model.SearchText, Model.CaseSensetive },
            new { @class = "fa fa-times" }
        )
    }
</div>
<ul class="menu-body">
    @foreach (var item in Model.Categories)
    {
        <li>
            @Html.ActionLink(
                item.Name + " (" + item.Count + ")", "All", "Articles",
                new { category = item.Name, Model.SearchText, Model.CaseSensetive },
                new { @class = (item.Name == Model.Category) ? "category-selected" : "" }
            )
        </li>
    }
</ul>
<hr />
@using (Html.BeginForm("All", "Articles", new { Model.Category }, FormMethod.Post, new { @class = "search-panel", onsubmit = "return onSearchSubmit()" }))
{
    <div class="input-group">
        @Html.TextBoxFor(
            x => x.SearchText,
            new { type = "search", @class = "search form-control", placeholder = "Поиск по записям...", id = "search" }
        )
        <button type="submit" class="fa fa-search input-group-append input-group-text"></button>
    </div>
    <div class="form-check mt-2 ml-2 disabled">
        @*<label class="form-check-label" for="CaseSensetive">
                @{
                    bool caseSens = Model.CaseSensetive.GetValueOrDefault();
                }
                @Html.CheckBoxFor(x => caseSens, new { @class = "form-check-input" })
                Учитывать регистр
            </label>*@
    </div>
}
