@model CategoriesListViewModel

@{
    Layout = null;
}

<nav class="navbar navbar-expand-md" style="padding: 0px">
    @Html.ActionLink(
        "Linerath Blog", "Home", "Main",
        new { },
        new { @class = "navbar-brand ml-3" }
    )
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapseArea" aria-controls="#collapseArea" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse" id="collapseArea">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Articles/All">Все записи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Articles/Archive">Архив</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Категории
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var item in Model.Categories)
                    {
                        @Html.ActionLink(
                            item.Name + " (" + item.Count + ")", "All", "Articles",
                            new { category = item.Name, Model.SearchText },
                            new { @class = $"dropdown-item {(item.Name == Model.Category ? "category-selected" : "")}" }
                        )
                    }
                </div>
            </li>
        </ul>
        @using (Html.BeginForm(
                "All", "Articles",
                new { Model.Category },
                FormMethod.Post,
                new { id = "searchForm", @class = "form-inline ml-auto search-form", onsubmit = "return onSearchSubmit()" })
            )
        {
            <div class="input-group">
                @Html.TextBoxFor(
                    x => x.SearchText,
                    new { type = "search", @class = "search form-control", placeholder = "Поиск...", id = "search" }
                )
                <button type="submit" class="fa fa-search input-group-append input-group-text mr-1"></button>
            </div>
        }
    </div>
</nav>
