@model BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Linerath-Blog</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/Content/Pics/favicon.png" />
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand">
            @Html.ActionLink(
                "Linerath Blog", "Home", "Main",
                new { },
                new { @class = "navbar-brand" }
            )
            <div>
                <ul class="navbar-nav">
                    <li>
                        <a href="/Articles/All">Все записи</a>
                    </li>
                    <li class="ml-2">
                        <a href="/Articles/Archive">Архив</a>
                    </li>
                </ul>
            </div>
            @*<ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <span><a class="fa fa-github nav-link" target="_blank" href="https://github.com/Linerath"></a></span>
                    </li>
                </ul>*@
        </nav>

        <content class="container-fluid">
            <div class="row main-row">
                @*<div class="col-lg-2 p-0 m-2 m-lg-0 menu menu-left">
                    @{
                        Html.RenderAction(
                            "MenuLeft", "Navigation",
                            new
                            {
                                category = Model != null ? Model.Category : null,
                                searchText = Model != null ? Model.SearchText : null,
                                caseSensetive = Model != null ? Model.CaseSensetive : false,
                            });
                    }
                </div>*@
                <div class="col-md-10 col-lg-8 ml-auto mr-auto p-0">
                    <div class="main-content">
                        @RenderBody()
                    </div>
                </div>
                @*<div class="col-lg-2 p-0 m-2 m-lg-0 menu menu-right">
                    @{ Html.RenderAction("MenuRight", "Navigation"); }
                </div>*@
            </div>
        </content>
    </div>
    <footer>
        <div>Linerath, @DateTime.Now.Year</div>
        <div class="footer-links mt-1 mb-1">
            <a class="fa fa-github" target="_blank" href="https://github.com/Linerath"></a>
            <a class="fa fa-vk ml-2" target="_blank" href="https://vk.com/Linerath"></a>
        </div>
    </footer>

    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
